<!DOCTYPE html>
<html>
<head>
  <title>KoudokuCoupons</title>
  <%= stylesheet_link_tag    "koudoku_coupons/application", :media => "all" %>
  <%= javascript_include_tag "koudoku_coupons/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
